<div class="container">
  <div class="py-5 text-center">
    {{!-- <img src="logo-nd.png"> --}}
    <h1>Comentarios</h1>
    <p class="lead">Clique para enviar o comentario para live</p>
    <p class="lead">{{comentarios.error}}</p>
  </div>

  <div class="row">
    <div class="col-12">
      {{#each comentarios}}
      <div class="card p-2 my-2">
        <div class="media d-flex align-items-center">
          <img src={{this.profileImageUrl}} class="mr-3 rounded-circle" alt="..." width="60rem">
          <div class="media-body">
            <h5 class="mt-0">{{this.displayName}}</h5>
            <span class="font-italic">{{this.displayMessage}}</span>
            <span class="font-italic">{{this.publishedAt}}</span>
          </div>
          <div>
            <button type="button" class="btn btn-outline-dark" onclick="sendOneComment('{{this.profileImageUrl}}', '{{this.displayName}}', '{{this.displayMessage}}', '{{this.publishedAt}}')">Enviar comentário </button>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script>
  function sendOneComment(profileImageUrl, displayName, displayMessage, publishedAt){
    

  }
</script>